/CommandHistory.class
/CopyCommand.class
/CreateShapeCommand.class
/DeleteCommand.class
/GroupCommand.class
/MoveCommand.class
/PasteCommand.class
/RedoCommand.class
/SelectCommand.class
/UndoCommand.class
/UngroupCommand.class
/UngroupCommand2.class
