/CopiedList.class
/DrawEllipse.class
/DrawRectangle.class
/DrawTriangle.class
/GroupComposite.class
/GroupConfiguration.class
/GroupList.class
/OutlineSelectedShape.class
/PastedShapes.class
/SelectedShapeList.class
/Shape.class
/ShapeConfiguration.class
/ShapeDrawer.class
/ShapeList.class
